html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background-gradient.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.theme-buttons {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
}

.theme-buttons button {
    height: 32px;
    width: 32px;
    border: none;
    transition: all 0.3s;
    margin: 0;
}

.theme-buttons button:hover {
    background-color: #242424;
    color: #fff;
}

.btn-dark {
    border-radius: 32px 0 0 32px;
}

.btn-light {
    border-radius: 0 32px 32px 0;
}

.selected {
    background-color: #121212;
    color: #fff;
}

.container {
    position: relative;
    background-color: #f4f4f4;
    padding: 4rem 2rem;
    width: 50%;
    height: 50%;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.container a {
    cursor: pointer;
    color: #0093E9;
    transition: all 0.3s;
}

.container a:hover {
    cursor: pointer;
    color: #007bff;
}

.cover {
    position: absolute;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px 0 0 20px;
    transition: all 1s;
    flex-direction: column;
}

.cover h2 {
    font-size: 2rem;
    text-transform:uppercase;
    margin: 0;
}

.cover h3 {
    font-size: 1rem;
    text-transform: lowercase;
    color:rgba(244, 244, 244, 0.75);
    font-weight: 400;
    margin: 0;
}

.login-register {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 4rem;
    text-align: center;
}
.login,
.register {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.btn-secondary {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 20px;
    background-color: #121212;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 0.5rem;
}

.login input:not(.btn-secondary),
.register input:not(.btn-secondary) {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.btn-secondary:hover {
    background-color: #242424;
}


.btn-primary {
    background-color: #0093E9;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50%;
    height: 3rem;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.toLogin {
    border-radius: 0 20px 20px 0;
    transform: translateX(100%);
}

@media (max-width: 991.98px) {
    .container {
        width: 75%;
    }
    
}

@media (max-width: 767.98px) {
    
    .container {
        padding: 2rem;
        height: 60%;
    }

    .login-register {
        flex-direction: column;
    }

    .login,
    .register {
        width: 100%;
    }

    .login {
        display: none;
    }

    .btn-primary {
        width: 100%;
    }

    .cover {
        display: none;
    }
}